<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <comment>Configuration</comment>
    <entry key="DATABASE_USERNAME">(YOUR USERNAME)</entry>
    <entry key="DATABASE_URL">(YOUR DATABASE URL)</entry>
    <entry key="DATABASE_PASSWORD">(YOUR DATABASE PASSWORD)</entry>
</properties>
